@import './variables.scss';
@import './mixin.scss';

html {
  height: 100%;
}

body {
  height: 100%;
  box-sizing: border-box;
  font-size: 14px;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
